<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Forgot Password</title>
    <div th:insert="~{Shared/head :: headFragment}"></div>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<th:block th:replace="~{layout :: search}"></th:block>
<h2>Vui lòng kiểm tra email của bạn</h2>
<p>Email đã được gửi chứa liên kết để đặt lại mật khẩu. Vui lòng kiểm tra email của bạn và làm theo hướng dẫn.</p>
<th:block th:replace="~{layout :: footer}"></th:block>
<div th:insert="~{Shared/script :: scriptFragment}"></div>
</body>
</html>
