<head th:fragment="headFragment" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8" />
    <!--+++++++++++++++++++++++++  CSS ++++++++++++++++++++++++-->
    <link rel="preconnect" href="https://theme.hstatic.net">
    <link rel="preconnect" href="//theme.hstatic.net/200000845405/1001223012/14/plugin-min.css?v=143">
    <link rel="preconnect" href="//theme.hstatic.net/200000845405/1001223012/14/custom-styles.scss.css?v=143">
    <link rel="preload" href="//theme.hstatic.net/200000845405/1001223012/14/plugin-min.css?v=143" as="style">
    <link rel="preload" href="//theme.hstatic.net/200000845405/1001223012/14/custom-styles.scss.css?v=143" as="style">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_1.jpg?v=143"
          media="screen and (max-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_1.jpg?v=143"
          media="screen and (min-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_2.jpg?v=143"
          media="screen and (max-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_2.jpg?v=143"
          media="screen and (min-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_3.jpg?v=143"
          media="screen and (max-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_3.jpg?v=143"
          media="screen and (min-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_4.jpg?v=143"
          media="screen and (max-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_4.jpg?v=143"
          media="screen and (min-width: 768px)">
    <link href='//theme.hstatic.net/200000845405/1001223012/14/plugin-min.css?v=143' rel='stylesheet' type='text/css'
          media='all' />
    <link href='//theme.hstatic.net/200000845405/1001223012/14/custom-styles.scss.css?v=143' rel='stylesheet'
          type='text/css' media='all' />
    <!--+++++++++++++++++++++++++  JS ++++++++++++++++++++++++-->
</head>