<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html amp class="no-js" lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
    <!--[if lt IE 9]><script src="//hsta tic.net/0/0/global/design/theme-default/html5shiv.js"></script><![endif]-->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0' name='viewport' />
    <meta name="revisit-after" content="1 day" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="true">
    <link rel="shortcut icon" href="//theme.hstatic.net/200000845405/1001223012/14/favicon.png?v=149"
          type="image/png" />
    <title>
        Lần Theo Dấu K&#253; Ức &ndash; Vinabook
    </title>
    <meta name="description"
          content="Lần Theo Dấu Ký Ức - Cuộc Cách Mạng Trong Ngành Khoa Học Tâm TríEric Richard Kandel là một bác sĩ y khoa người Mỹ gốc Áo chuyên về tâm lý học và thần kinh học. Ông còn là giáo sư hóa sinh và lý sinh tại khoa y và phẫu thuật thuộc Đại học Columbia. Năm 2000, cùng với Arvid Carlsson và Paul Greengard, ông nhận giải Nobel" />
    <link rel="canonical" href="https://www.vinabook.com/products/lan-theo-dau-ky-uc" />
    <link rel="amphtml" href="https://www.vinabook.com/products/lan-theo-dau-ky-uc?view=amp">
    <link rel="alternate" href="https://www.vinabook.com/products/lan-theo-dau-ky-uc" hreflang="vi-vn" />
    <meta name="keywords" content="Vinabook">
    <meta name="robots" content="index,follow,noodp">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="theme-color" content="#ec8000">
    <link rel="dns-prefetch" href="https://www.vinabook.com">
    <link rel="dns-prefetch" href="//hstatic.net">
    <link rel="dns-prefetch" href="//theme.hstatic.net/">
    <link rel="dns-prefetch" href="//file.hstatic.net/">
    <link rel="dns-prefetch" href="//www.google-analytics.com/">
    <link rel="dns-prefetch" href="//www.googletagmanager.com/">

    <!--+++++++++++++++++++++++++  CSS ++++++++++++++++++++++++-->

    <link rel="preconnect" href="https://theme.hstatic.net">

    <link rel="preconnect" href="//theme.hstatic.net/200000845405/1001223012/14/plugin-min.css?v=149">
    <link rel="preconnect" href="//theme.hstatic.net/200000845405/1001223012/14/custom-styles.scss.css?v=149">
    <link rel="preload" href="//theme.hstatic.net/200000845405/1001223012/14/plugin-min.css?v=149" as="style">
    <link rel="preload" href="//theme.hstatic.net/200000845405/1001223012/14/custom-styles.scss.css?v=149" as="style">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_1.jpg?v=149"
          media="screen and (max-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_1.jpg?v=149"
          media="screen and (min-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_2.jpg?v=149"
          media="screen and (max-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_2.jpg?v=149"
          media="screen and (min-width: 768px)">

    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_3.jpg?v=149"
          media="screen and (max-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_3.jpg?v=149"
          media="screen and (min-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_4.jpg?v=149"
          media="screen and (max-width: 768px)">
    <link rel="preload" as="image" href="//theme.hstatic.net/200000845405/1001223012/14/home_slider_image_4.jpg?v=149"
          media="screen and (min-width: 768px)">
    <link href='//theme.hstatic.net/200000845405/1001223012/14/plugin-min.css?v=149' rel='stylesheet' type='text/css'
          media='all' />
    <link href='//theme.hstatic.net/200000845405/1001223012/14/custom-styles.scss.css?v=149' rel='stylesheet'
          type='text/css' media='all' />
    <!--+++++++++++++++++++++++++  JS ++++++++++++++++++++++++-->
</head>
<body id="hogwarts-theme" class="product" style="background: #f9f5ee">
<div class="nav-overlay" onclick="initNav('close')"></div>
<div class="main-body    main-body-product ">
    <div id="product" class="productDetail-page">
        <div class="breadcrumb-shop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                        <ol class="breadcrumb breadcrumb-arrows" itemscope
                            itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang
                                            chủ</span></a>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="https://www.vinabook.com/collections/giam-10" target="_self"
                                   itemprop="item">
                                    <span itemprop="name">Giảm 10%</span>
                                </a>
                                <meta itemprop="position" content="2" />
                            </li>
                            <li class="active" itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ListItem">
                                    <span itemprop="item"
                                          content="https://www.vinabook.com/products/lan-theo-dau-ky-uc">
                                        <span itemprop="name">Lần Theo Dấu Ký Ức</span>
                                    </span>
                                <meta itemprop="position" content="3" />
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail-wrapper py-5 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row product-detail-main mb-5">
                            <div class="col-12 col-lg-9">
                                <div class="row">
                                    <div class="col-12 col-lg-6 product-content-img">
                                        <div class="product-gallery">
                                            <div class="product-image-detail box__product-gallery scroll">
                                                <ul id="sliderproduct"
                                                    class="site-box-content slide_product clearfix hidden-lg hidden-md d-none">

                                                    <li class="product-gallery-item gallery-item">
                                                        <img class="product-image-feature"
                                                             src="//product.hstatic.net/200000845405/product/2024_01_11_15_45_50_1-390x510_3cead3de96a94a819d491d8280a7cb9b_master.jpg"
                                                             alt=" Lần Theo Dấu Ký Ức ">
                                                    </li>
                                                </ul>
                                                <div class="text-center">
                                                    <img class="product-image-feature"
                                                         src="//product.hstatic.net/200000845405/product/2024_01_11_15_45_50_1-390x510_3cead3de96a94a819d491d8280a7cb9b_master.jpg"
                                                         alt=" Lần Theo Dấu Ký Ức ">
                                                </div>
                                            </div>
                                            <div class="product-gallery__thumbs-container d-none">
                                                <div class="product-gallery__thumbs owl-carousel" data-nav="true"
                                                     data-loop="true" data-margin="15" data-sm-items="4"
                                                     data-xs-items="4" data-md-items="4" data-lg-items="5">
                                                    <div class="product-gallery__thumb active">
                                                        <a class="product-gallery__thumb-placeholder"
                                                           href="javascript:"
                                                           data-image="//product.hstatic.net/200000845405/product/2024_01_11_15_45_50_1-390x510_3cead3de96a94a819d491d8280a7cb9b_master.jpg"
                                                           data-zoom-image="//product.hstatic.net/200000845405/product/2024_01_11_15_45_50_1-390x510_3cead3de96a94a819d491d8280a7cb9b_master.jpg">
                                                            <img alt=" Lần Theo Dấu Ký Ức "
                                                                 data-image="//product.hstatic.net/200000845405/product/2024_01_11_15_45_50_1-390x510_3cead3de96a94a819d491d8280a7cb9b_master.jpg"
                                                                 src="//product.hstatic.net/200000845405/product/2024_01_11_15_45_50_1-390x510_3cead3de96a94a819d491d8280a7cb9b_compact.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 product-content-desc" id="detail-product">
                                        <div class="product-title">
                                            <h1 th:text="${book.title}"></h1>
                                            <span id="pro_sku"><strong>ISBN:</strong>8938539539314</span>
                                        </div>
                                        <p class="product-type">
                                            Thiện Tri Thức
                                        </p>
                                        <div class="product-price" id="price-preview">
                                            <span class="pro-price">299,700₫</span>
                                            <del>333,000₫</del>
                                            <span class="pro-sale hide">-10% </span>
                                        </div>
                                        <form id="add-item-form" action="/cart/add" method="post"
                                              class="variants clearfix">
                                            <div class="select clearfix">
                                                <select id="product-select" name="id">
                                                    <option value="1122393285">Thiện Tri Thức / 2024 / 318 -
                                                        299,700₫</option>
                                                </select>
                                            </div>
                                            <div class="select-swatch clearfix">
                                            </div>
                                            <div class="selector-actions">
                                                <div class="quantity-area clearfix">
                                                    <input type="button" value="-" onclick="minusQuantity()"
                                                           class="qty-btn">
                                                    <input type="text" id="quantity" name="quantity" value="1"
                                                           min="1" class="quantity-selector">
                                                    <input type="button" value="+" onclick="plusQuantity()"
                                                           class="qty-btn">
                                                </div>
                                                <div class="wrap-addcart">
                                                    <button th:href="@{/cart/add/{id}(id=${book.id})}" type="button"
                                                            class=" add-to-cartProduct btn btn-primary btn-addtocart addtocart-modal "
                                                            name="add">
                                                        Thêm vào giỏ
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 d-none d-md-block">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="product-description">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                       href="#nav-home" role="tab" aria-controls="nav-home"
                                       aria-selected="true">GIỚI THIỆU SÁCH</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="sidebar-block sidebar-product mb-4">
                            <div class="sidebar-title">
                                <h3>Sản phẩm nổi bật</h3>
                            </div>
                            <div class="sidebar-content">
                                <div class="product-item-mini">
                                    <div class="product-img" style="border: none;">
                                        <div class="product-sale" style="background: #f03737;"><span>-10%</span>
                                        </div>

                                        <a href="/products/tap-van-hoa-ky-niem-nguyen-du-giay-do-hop-giay">
                                            <img class="lazy"
                                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 data-srcset="//product.hstatic.net/200000845405/product/tap-van-hoa-ky-niem-nguyen-du_d84377dcb9994eb3bd1d5c778b1f59d1_small.jpg"
                                                 alt=" Tập Văn Họa Kỷ Niệm Nguyễn Du (Bản giấy dó) " />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title">
                                            <a href="/products/tap-van-hoa-ky-niem-nguyen-du-giay-do-hop-giay"
                                               title="Tập Văn Họa Kỷ Niệm Nguyễn Du (Bản giấy dó)">
                                                Tập Văn Họa Kỷ Niệm Nguyễn Du (Bản giấy dó)
                                            </a>
                                        </h3>
                                        <div class="box-pro-prices">
                                            <p class="pro-price highlight">
                                                <span class="current-price">900,000₫</span>

                                                <span class="pro-price-del">
                                                        <del class="compare-price">
                                                            1,000,000₫
                                                        </del>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-mini">
                                    <div class="product-img" style="border: none;">
                                        <div class="product-sale" style="background: #f03737;"><span>-10%</span>
                                        </div>
                                        <a href="/products/mua-gat-moi-giay-do-tap-2">
                                            <img class="lazy"
                                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 data-srcset="//product.hstatic.net/200000845405/product/9786043396744_4ab3680cc463407988c03decbb3b22d1_small.jpg"
                                                 alt=" Mùa Gặt Mới - Số 2 " />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title">
                                            <a href="/products/mua-gat-moi-giay-do-tap-2"
                                               title="Mùa Gặt Mới - Số 2">
                                                Mùa Gặt Mới - Số 2
                                            </a>
                                        </h3>
                                        <div class="box-pro-prices">
                                            <p class="pro-price highlight">
                                                <span class="current-price">2,250,000₫</span>
                                                <span class="pro-price-del">
                                                        <del class="compare-price">
                                                            2,500,000₫
                                                        </del>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-mini">
                                    <div class="product-img" style="border: none;">
                                        <div class="product-sale" style="background: #f03737;"><span>-10%</span>
                                        </div>
                                        <a href="/products/mua-gat-moi-giay-do-tap-1">
                                            <img class="lazy"
                                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 data-srcset="//product.hstatic.net/200000845405/product/so_1_536e2e0ae3d54fe8a89e560cdeb5bf2e_small.jpg"
                                                 alt=" Mùa Gặt Mới - Số 1 " />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title">
                                            <a href="/products/mua-gat-moi-giay-do-tap-1"
                                               title="Mùa Gặt Mới - Số 1">
                                                Mùa Gặt Mới - Số 1
                                            </a>
                                        </h3>
                                        <div class="box-pro-prices">
                                            <p class="pro-price highlight">
                                                <span class="current-price">2,250,000₫</span>

                                                <span class="pro-price-del">
                                                        <del class="compare-price">
                                                            2,500,000₫
                                                        </del>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-mini">
                                    <div class="product-img" style="border: none;">
                                        <div class="product-sale" style="background: #f03737;"><span>-10%</span>
                                        </div>

                                        <a href="/products/duong-vao-tinh-su-ban-dac-biet-bia-dep">
                                            <img class="lazy"
                                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 data-srcset="//product.hstatic.net/200000845405/product/duong-vao-tinh-su-ban-dac-biet_d96996649f134168b55595ad20ecf33c_small.jpg"
                                                 alt=" Đường Vào Tình Sử (Bản Đặc Biệt) " />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title">
                                            <a href="/products/duong-vao-tinh-su-ban-dac-biet-bia-dep"
                                               title="Đường Vào Tình Sử (Bản Đặc Biệt)">
                                                Đường Vào Tình Sử (Bản Đặc Biệt)
                                            </a>
                                        </h3>
                                        <div class="box-pro-prices">
                                            <p class="pro-price highlight">
                                                <span class="current-price">720,000₫</span>

                                                <span class="pro-price-del">
                                                        <del class="compare-price">
                                                            800,000₫
                                                        </del>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-mini">
                                    <div class="product-img" style="border: none;">
                                        <div class="product-sale" style="background: #f03737;"><span>-10%</span>
                                        </div>

                                        <a href="/products/nghe-thuat-trang-tri-o-bac-ky-ban-bia-gia-da">
                                            <img class="lazy"
                                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 data-srcset="//product.hstatic.net/200000845405/product/nghe-thuat-trang-tri-bac-ky-bia-gia-da_e52eec11fbae4456bdd6abb56035c50a_small.png"
                                                 alt=" Nghệ Thuật Trang Trí Bắc Kỳ - Bìa giả da " />
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title">
                                            <a href="/products/nghe-thuat-trang-tri-o-bac-ky-ban-bia-gia-da"
                                               title="Nghệ Thuật Trang Trí Bắc Kỳ - Bìa giả da">
                                                Nghệ Thuật Trang Trí Bắc Kỳ - Bìa giả da
                                            </a>
                                        </h3>
                                        <div class="box-pro-prices">
                                            <p class="pro-price highlight">
                                                <span class="current-price">495,000₫</span>

                                                <span class="pro-price-del">
                                                        <del class="compare-price">
                                                            550,000₫
                                                        </del>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="list-productRelated clearfix">
                            <div class="section-heading text-center">
                                <h2 class="section-title">
                                    <span>Sản phẩm liên quan</span>
                                </h2>
                                <div class="line">
                                    <div class="circle">
                                        <span class="line-left line-shape bg-primary"></span>
                                        <span class="line-right line-shape bg-primary"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="content-product-list row">
                                <div class="col-6 col-md-4 col-lg-3">
                                    <div class="product-item">
                                        <div class="product-img " style="border: none;">
                                            <div class="product-sale" style="background: #f03737;"><span>-10%</span>
                                            </div>
                                            <a
                                                    href="/products/bach-khoa-giai-toa-cang-thang-50-giai-phap-gat-bo-moi-lo-lang-muon-phien-va-met-moi-trong-cuoc-song">
                                                <img src="//product.hstatic.net/200000845405/product/b_a_1_b_ch_khoa_7bd0cb807bf143279b38a88761f644e9_medium.png"
                                                     alt=" “Bách Khoa” Giải Tỏa Căng Thẳng - 50+ Giải Pháp Gạt Bỏ Mọi Lo Lắng, Muộn Phiền Và Mệt Mỏi Trong Cuộc Sống " />

                                            </a>
                                            <div class="button-add d-none d-md-flex">
                                                <button title="Thêm vào giỏ" class="action "
                                                        onclick="add_to_cart('1122127436');"
                                                        data-tooltip="Thêm vào giỏ"><i
                                                        class="fal fa-cart-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <h3 class="pro-name"><a
                                                    href="/products/bach-khoa-giai-toa-cang-thang-50-giai-phap-gat-bo-moi-lo-lang-muon-phien-va-met-moi-trong-cuoc-song"
                                                    title="“Bách Khoa” Giải Tỏa Căng Thẳng - 50+ Giải Pháp Gạt Bỏ Mọi Lo Lắng, Muộn Phiền Và Mệt Mỏi Trong Cuộc Sống">“Bách
                                                Khoa” Giải Tỏa Căng Thẳng - 50+ Giải Pháp Gạt Bỏ Mọi Lo Lắng,
                                                Muộn Phiền Và Mệt Mỏi Trong Cuộc Sống</a></h3>
                                            <p class="pro-price highlight">
                                                <span class="current-price">107,100₫</span>
                                                <del class="compare-price">119,000₫</del>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="site-overlay" class="site-overlay"></div>
</div>
<div class="overlay-filter">
</div>
<div id="modalAddComplete">
</div>
<div class="back-to-top hidden">
    <a href="javascript:void(0);">
        <div class="btt-back">
            <span class="btt-label-back">back to top</span>
            <span class="btt-icon-back"><i class="fa fa-long-arrow-up"></i></span>
        </div>
    </a>
</div>
</body>
</html>